
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 215 29% 14%;
    --card: 0 0% 100%;
    --card-foreground: 215 29% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 29% 14%;
    --primary: 207 100% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 174 100% 33%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 98%;
    --muted-foreground: 215 19% 69%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 215 29% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 40% 96.1%;
    --input: 210 40% 96.1%;
    --ring: 207 100% 42%;
    --radius: 0.75rem;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 174 100% 33%;
    --chart-3: 207 100% 42%;
    --chart-4: 262 84% 60%;
    --chart-5: 215 19% 69%;
  }

  .dark {
    --background: 215 29% 10%;
    --foreground: 0 0% 100%;
    --card: 215 29% 14%;
    --card-foreground: 0 0% 100%;
    --popover: 215 29% 14%;
    --popover-foreground: 0 0% 100%;
    --primary: 207 100% 65%;
    --primary-foreground: 215 29% 14%;
    --secondary: 174 100% 45%;
    --secondary-foreground: 215 29% 14%;
    --muted: 215 29% 10%;
    --muted-foreground: 215 19% 69%;
    --accent: 215 29% 20%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 29% 20%;
    --input: 215 29% 20%;
    --ring: 207 100% 65%;
    --radius: 0.75rem;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 174 100% 45%;
    --chart-3: 207 100% 65%;
    --chart-4: 262 84% 60%;
    --chart-5: 215 19% 69%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-area, .printable-area *,
  .printable-label, .printable-label * {
    visibility: visible;
  }
  .printable-area, .printable-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .no-print {
    display: none !important;
  }
}
